// It's highly recommended to change the default colors
// to match your app's branding.

$appBackground: #1A1229;

$lightText: #8276a0;
$highlight: #ff6453;
$pText: #FFFFFF;

// @import '~quasar-variables-styl'
